.box{
    width: 537.3px;
    height: 222px;
    border: 1px solid red;
}
.midia_box{
    width: 537.4px;
    height: 20px;
    border: 1px solid black;
}
.news_box{
    display: flex;
    width: 537.4px;
    height: 193px;
    margin: 9px 0 0 0 solid yellow;
}
.main_news{
    width: 196px;
    height: 186px;
    margin-top: 7px;
    margin-right: 24px;
    border: 1px solid salmon;
}
.sub_news{
    width: 305.4px;
    height: 184px;
    padding-right: 12px;
    border: 1px solid purple;
}