h1 {
    color: aquamarine;
}

p {
    font-weight: bold;
}

.box {
    color: gray;
}

.login_box {
    color: black;
    background-color: cornsilk;
    cursor: pointer;
    border-radius: 30px;
}