* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

header {
  background-color: #ffffff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.nav-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #1ec800;
  text-decoration: none;
}

.search-container {
  display: flex;
}

.search-input {
  width: 300px;
  height: 34px;
  padding: 0 10px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}

.search-btn {
  display: inline-block;
  width: 60px;
  height: 34px;
  background-color: #1ec800;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.login {
  font-size: 1rem;
  color: #333;
  text-decoration: none;
}

main {
  padding: 2rem 1rem;
}

section {
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

footer {
  padding: 1rem;
  background-color: #ffffff;
  text-align: center;
  font-size: 0.875rem;
  color: #666;
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
}


.nav-items {
  display: flex;
  align-items: center;
}

.nav-item {
  font-size: 1rem;
  color: #333;
  text-decoration: none;
  margin-left: 10px;
}

.start-page {
  float: left;
  font-size: 9px;
  color: #404040;
  margin-right: 10px;
  line-height: 11px;

}

.junior {
  display: inline-block;
  width: 60px;
  height: 10px;
  font-size: 9px;
  background-position: -264px -296px;
  background-repeat: no-repeat;
  vertical-align: top;
  margin: 3px 10px;
  line-height: 11px;
}

.happybean {
  display: inline-block;
  width: 34px;
  height: 11px;
  font-size: 9px;
  background-position: -365px -245px;
  background-repeat: no-repeat;
  vertical-align: top;
  margin: 0px 3px 2px;
}

.link_set:after {
  display: inline-block;
  width: 26px;
  height: 26px;
  background-position: -152px -84px;
  background-repeat: no-repeat;
  vertical-align: top;
  line-height: 11px;
}

.main-menu {
  display: flex;
  justify-content: flex-start;
  background-color: #f9f9f9;
  padding: 0.5rem 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.menu-item {
  font-size: 0.875rem;
  color: #555;
  text-decoration: none;
  margin: 0 8px;
  font-weight: 700;
}

.menu-item:first-child {
  margin-left: 50px; /* 메뉴의 첫 번째 항목에서 왼쪽 간격을 추가 */
}

/* 메일부터 TV까지의 글씨를 초록색으로 변경 */
.menu-item:nth-child(-n+9) {
  color: #1ec800;
}

.menu-item.more {
  font-weight: bold;
}

.weather {
  display: flex;
  align-items: center;
  margin-left: 100px; /* 더보기와 날씨 탭 사이의 간격 */
}

.location,
.temperature,
.condition {
  font-size: 0.875rem;
  color: #555;
  margin-right: 10px;
}

.condition {
  margin-right: 0;
}
.min-temperature {
  color: #0070c0; /* 파란색으로 글씨 표현 */
  margin-left: 10px;
}

.max-temperature {
  color: #ff3d3d; /* 빨간색으로 글씨 표현 */
  margin-left: 10px;
}

.login-banner-wrapper {
  height: 135px;
  margin-left: 110PX;

}

.banner-login-container {
  display: flex;
  align-items: center;
  height: 135px; /* 고정 크기 */
  
  
}

.banner-container {
  margin-right: 20px;
}

.login-banner {
  display: flex;
  flex-direction: column; 
  justify-content: flex-end;
  align-items: flex-start; 
  background-color: #f7f9fa;
  border: 1px solid #dae1e6;
  padding: 16px 16px 12px 17px;
  WIDTH: 300PX;
  max-width: 600px; /* 최대 크기 */
  
}

.login_msg {
  font-size: 3px; /* 글자 크기 조절 */
  color: gray;
  margin-bottom: 10px; 
  margin-left: 10px;
}


.login-subtext {
  display: flex;
  align-items: center;
  font-size: 3px;
  color: #333;
  margin-top: 4px; 
  margin-left: 10px;
}



.login-box {
  display: block;
  padding: 15px 0;
  margin-top: 11px;
  background-color: #19ce60;
  border: 1px solid #15c654;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font-size: 13px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  width: 250px;
  
}



.login-box:hover {
  background-color: #22d900;
  cursor: pointer;
}


.login-subtext a {
  text-decoration: none;
  color: #333;
  font-weight: normal;
}

.sc_newscast .group_issue {
  position: relative;
  padding: 12px 15px 11px 15px;
  background-color: #f7f9fa;
  border: 1px solid #dae1e6;
  line-height: 24px;
}

.issue-news-and-card-news-box{
  margin-top: 25px;
  height: auto; /* 변경 */
  width: 1285px;
  display: flex; 
  
}

.issue-news-box {
  box-sizing: border-box;
  width: 800px;
  background-color: #f7f9fa;
  border: 1px solid #dae1e6;
  padding: 12px 15px 11px;
  display: flex;
  align-items: center;
}

.card-news-box {
  box-sizing: border-box;
  width: 300px;
  background-color: #f7f9fa;
  border: 1px solid #dae1e6;
  padding: 14px 0px 13px 16px;
  display: inline-block;
  vertical-align: top;
  justify-content: flex-end;
  margin-left: 130px;
 
  
}

.issue-news-box a {
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: #202020;
  text-decoration: none;
  margin-right: 10px; /* 오른쪽 간격 */
  
}

.news-source {
  font-weight: bold;
  margin-right: 30px; /* 뉴스 소스와 제목 사이의 간격 */
}

.news-title {
  flex-grow: 1; /* 기사 제목이 남은 공간을 차지하도록 설정 */
}
.news_badge {
  display: inline-block;
  padding: 2px 5px;
  border-radius: 50px;
  font-size: 10px;
  font-weight: bold;
  color: #ffffff;
  background-color: #ff3d3d;
  margin-right: 5px;
  
  
}


.card-news-item {

  font-size: 15px;
  line-height: 20px;
  color: #404040;
  text-decoration: none;  /* 밑줄 제거 */
}
.news-box {
  margin-top: 5px;
  width: 800px;
  height: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news-stand {
  width: 800px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #dae1e6;
}

.newsstand-title,
.subscribed-press {
  font-weight: bold;
  color: #505050;
  margin-right: 3px;
  font-size: 13px;
  margin-left: 14px;
  text-decoration: none;
}

.divider,
.all-press {
  color: #c1c1c1;
  margin-right: 5px;
  font-size: 13px;
  text-decoration: none;
}

.divider {
  margin-left: 5px;
  text-decoration: none;
}
.total_box{
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}
.main_box{
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: row;
}

.subscription {
  margin-top: 0px;
  width: 163px;
  height: 259.99px;
  border: 1px;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  border: 1px solid #dae1e6;
  
}
.option_NM_NEWSSTAND_LIST_press_name{
  padding: 0 14px 0 18px;
  width:163px;
    height: 34px;
    line-height: 34px;
    margin: 8px 0 13px;
    background-color: #4063bd;
    /* -webkit-border-radius: 17px; */
    border-radius: 17px;
    /* color: #fff; */
    font-weight: 700;
    /* -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.16); */
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.16);
    text-decoration: none;
    color: #ffffff;
  margin-left:15px;
}

.content_box{
  display: flex;
  flex-direction: column;
  width: calc(100% - 163px);
}
.news_zone{
  width: 540px;
  height: 260px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  
}

.newszone_box{
  width: 300px;
  height: auto;
  border: 1px;
  flex-direction: row;
  align-items: flex-start;
  margin-left: 10px;
  clear:both;
  
}
.media_box{
  width: 300px;
  height: 20px;
  flex-direction: row;
  display:flex;
  margin-top: 15px;
  margin-left: 20px;
}
.time{
  font-size:13px;
  font-weight:10px;
  margin-left:5px;
}

.news_box{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 537.4px;
  height: 193px;
  margin-top: 9px;
  border: 1px;
}

.main_news{
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  clear:both;
  align-items: flex-start;
  margin-right: 100px;
  width:150px;
  
}

.main_news img {
  width: 196px;
  height: 114px;
}

.main_news p {
  font-size: 13px;
  color: #202020;
  margin-top: 12px;
  font-weight: 13px;
}

.main_news img {
  max-width: 196px;
  max-height: 114px;
  width: auto;
  height: auto;
}

.sub_news{
  flex-direction: row;
}
.sub_news_item{
  text-decoration: none;  /* 밑줄 제거 */
  font-weight: 10;
  font-size: 13px;
  line-height: 16px;
  color: #202020;
  font-family: -apple-system,BlinkMacSystemFont,"Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif;
}
.sub_news_text{
  font-size:12px;
  color:#c1c1c1
}
.ad_box{
  width:350px;
  height:200px;
  
  display: flex;
  justify-content: flex-start;
  margin-left:130px;
  margin-top: 100px;
  border: 1px solid #dae1e6;
}

.ad_box img{
  width:300px;
  height:200px;

}