h1 {
    color: blue;
}

p {
    font-weight: bold;
}

.box {
    color: aqua;
}

.login_box {
    color: blueviolet;
    background-color: yellow;
    cursor: pointer;
    border-radius: 30px;
}