h1 {
    color: aqua;
}

p {
    font-weight: bold;
    color: aqua;
}
.box {
    color: aqua;
}

.login_box {
    color: aqua;
    background-color: aqua;
    cursor: copy;
    border-radius: 5px;
}