h1 {
    color: aqua;
}
p {
    font-weight: bold;
}
.box {
    color:blue;
}
.login_box {
    color: white;
    background-color: black;
    cursor: pointer;
    border-radius: 100px;
}